.button{
    transition: scale 0.5s cubic-bezier(.7, 0, .3, 1), border 0.5s cubic-bezier(.7, 0, .3, 1);
    cursor: pointer;
}

.button:hover{
    scale: 0.95;
}

.button-text{
    z-index: 5  ;
}

.hover-shape{
    transform: translate(-50%,-50%);
    transition: height 0.75s cubic-bezier(.7, 0, .3, 1), width 0.75s cubic-bezier(.7, 0, .3, 1);
    z-index: 0;
}

