.work-gallery{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media only screen and (min-width: 768px){
.work-gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: fit-content;
    height: fit-content;
    transition: all 0.75s cubic-bezier(.7, 0, .3, 1);
}

.work-item{
    height: 100%;
    position: relative;
    scale: 0.8;
    will-change: transform;  
    transition: all 1s cubic-bezier(.7, 0, .3, 1);
}
.work-item.active{
    scale: 1;
}
}
