@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("./fonts.css");

*{
  margin: 0;
  padding: 0;
  font-family: 'NeueMontrealRegular';
}
::selection{
  background: rgba(251,146,60,0.9) 
}

.preloader{
  overflow: hidden;
  text-align: center;
  animation: preloaderAnimation 2.5s forwards cubic-bezier(.7, 0, .3, 1);
}

.dot{
  transform: translate(-21px, -75px);
  
  font-size: 5em;
  animation: preloaderDot 2s forwards ease;
  animation-delay: 3s;
}

@keyframes preloaderAnimation {
  0%{
    transform: translateY(100%);
    scale: 2;
    width: 55px;
    opacity: 0;
  }
  33%{
    transform: translateY(0%);
    scale: 2;
    width: 55px;
    opacity: 1;
  }
  66%{
    scale: 1;
    width: 55px;
  }
  100%{
    width: 300px;
  }
}

@keyframes preloaderDot {
  0%{
    transform: translate(-21px,-75px);
  }
  25%{
    transform: translate(-21px, -40px);
  }
  50%{
    transform: translate(-10px,-75px);
  }
  100%{
    transform: translate(0,0);
  }
}